@{
    ViewBag.Title = "About";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>@User.Identity.Name</h1>
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
