@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


    <ul class="nav navbar-nav justify-content-end ">
        @*<li class="nav-item"><button type="button" class="btn btn-primary">Notifications <span class="badge badge-light">4</span></button></li>*@
        @*<li class="nav-item px-lg-2 active "> <a class="nav-link btn-primary" style="color:white" href="/Home/Notification">Notifications <span class="badge badge-light">@ViewBag.NotificationCount</span></a> </li>*@
        @if (User.Identity.Name == "admin@gmail.com")
        {
            <li class="nav-item px-lg-2 active "> <a class="nav-link" href="/Home/RequestHistory"> <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-home"></i></span>Request History</a> </li>
        }
        else
        {
            <li class="nav-item px-lg-2 active "> <a class="nav-link btn-primary" style="color:white" href="/Home/Notification">Notifications <span class="badge badge-light">@ViewBag.NotificationCount</span></a> </li>
        }
        <li class="nav-item px-lg-2 active "> <a class="nav-link" href="/Home/Personal"> <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-home"></i></span>Posts</a> </li>
        <li class="nav-item px-lg-2 active"> <a class="nav-link" href="/Manage/Index"> <span class="d-inline-block d-lg-none icon-width"><i class="fas fa-home"></i></span>Setting</a> </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        <li class="nav-item px-lg-2 active"> <a class="nav-link btn-warning text-white" href="/Home/Create"> <span class="d-inline-block d-lg-none icon-width "><i class="fas fa-home"></i></span>Create</a> </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right ">

        <li class="nav-item px-lg-2 active"> <a class="nav-link btn-warning text-white" href="/Account/Login"> <span class="d-inline-block d-lg-none icon-width "><i class="fas fa-home"></i></span>LOGIN</a> </li>
    </ul>
}
